{
  "pid": "{http:\/\/ns.tibco.com\/bw\/palette\/bcsr}BCConnection.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/bcsr}BCConnection",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/ns.tibco.com\/bw\/palette\/bcsr}BCConnection.9f3a7f48-6c8e-405a-8fa5-19f4e2e9ad04",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}